
body {
    margin: 0px;
    padding: 0px;
    font-size: 12pt;
    overflow-x: hidden;
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6, #logo, nav {
    font-family: 'Sorts Mill Goudy', sans-serif;
    font-weight: normal;
}

p {
    color: #666;
}

#logo {
    width: 160px;
    height: 96px;
    margin: 15% auto 0px;
    font-size: 20px;
    background: url('philogo.png') top left no-repeat;
    padding: 16px 0px 0px 65px;
    line-height: 34px;
    color: #444;
    text-indent: 8px;
    text-align: center;
}

#logo:first-line {
	font-size:35px;
}

#logo hr {
	width: 117px;
    margin: 3px 0 0 25px;
    background: #888;
    border: none;
    height: 1px;
}

nav {
    text-align: center;
    font-size: 18pt;
}

nav a {
    padding: 0px 6px;
    text-decoration: none;
    color: inherit;
}

#content {
    border-top: 1px solid #EEE;
    background: -webkit-linear-gradient(top, #F9F9F9 0px, #FFF 48px);
    padding-top: 12px;
    display: none;
    min-height: 48px;
}

#inner {
    width: 960px;
    margin: 0px auto;
    position: relative;
    overflow: visible;
}

section {
    width: 940px;
    padding: 0px 10px;
    margin: auto;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

#page0 h1, #page0 h2, .link-0.active { color: #897; }
#page1 h1, #page1 h2, .link-1.active { color: #A55; }
#page2 h1, #page2 h2, .link-2.active { color: #E62; }

h1:first-line { color: #777; }

h1, h2 {
    text-indent: -12px;
    padding-left: 8px;
    font-size: 20pt;
    line-height: 120%;
}

/* <PAGE-0> */

.here-are-we {
    position: absolute;
    top: 32px;
    right: 12px;
}

.here-are-we .map {
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #DDD;
    box-shadow: 0px 0px 4px #EEE;
}

.here-are-we p {
    width: 192px;
    float: left;
}

.here-are-we p span {
    display: block;
    margin: 4px 0px;
    padding-left: 24px;
    height: 28px;
    line-height: 24px;
    background: url(icons.png) no-repeat;
}

.here-are-we .icon-0 { background-position: 0px   0px; }
.here-are-we .icon-1 { background-position: 0px -24px; }
.here-are-we .icon-2 { background-position: 0px -48px; }

.person {
    overflow: hidden;
    margin: 8px 0px 24px;
}

.person img {
    width: 152px;
    height: 134px;
    float: left;
    margin: 0px 12px 4px 2px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #DDD;
    box-shadow: 0px 0px 4px #EEE;
}

.person h3 {
    margin: 6px 0px;
}

.person h3 span {
    color: #CCC;
}

.person p {
    margin: 2px 0px;
    width: 512px;
}

/* </PAGE-0> */
